body {
  text-align: center;
}

.top-container {
  display: flow-root;
  background-color: #f2efe7;
  position: relative;
  padding-top: 100px;
}

.brush-stroke-turquoise {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 14vh;
}

.brush-stroke-turquoise-curved {
  float: left;
  height: 16vh;
}

.header-text {
  color: #0ba1a7;
}

.top-container h1 {
  font-family: "Brassy", sans-serif;
}

@font-face {
  font-family: "Brassy";
  src: url(../fonts/BrassyPersonalUse-lxR75.ttf);
  font-display: swap;
}

.pro-text {
  text-decoration: underline;
}

.personal-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.section-header {
  color: #9acbd0;
  font-weight: bold;
}

.section-text {
  color: #48a6a7;
}

.showcase-container p.lead {
  text-align: left;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
  background-color: #006a71;
  color: white;
}

.feature.col {
  text-align: left;
}

.contact-span {
  color: #0ba1a7;
}

.contact-info-container {
  text-align: center;
}

.footer-container {
  background-color: #f2efe7;
}

@media (min-width: 767px) and (max-width: 990px) {
  .image-container {
    place-items: center;
  }

  .showcase-image {
    height: auto;
    max-width: 100%;
  }
}
